@model Tutor_Connect.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 class="heading">Profile</h2>*@

<div class="profile-containter">
    <i class="fas fa-user-circle fa-10x"></i>
    <h1>
        @Html.DisplayFor(model => model.Firstname)  @Html.DisplayFor(model => model.Surname)
    </h1>
    <p>
        @Html.DisplayFor(model => model.yearOfStudy) -  @Html.DisplayFor(model => model.fieldOfStudy)
    </p>
    <p>
        @Html.DisplayFor(model => model.Email) | @Html.DisplayFor(model => model.PhoneNumber)
    </p>

    <div class="modules">
        <ul>
            @if (ViewBag.tutorModules != null)
            {
                foreach (Tutor_Connect.Models.TutorModule tutorModule in ViewBag.tutorModules)
                {
                    if (tutorModule.studNumber == Model.StudNumber)
                    {
                        <li>
                            <i class="fas fa-check"></i>
                            @tutorModule.moduleCode
                        </li>
                    }
                }
            }


        </ul>
    </div>

    <p>
        @Html.ActionLink("Edit Personal information", "Edit", "Student")
    </p>

</div>

